@for (booking of booking; track booking.id) {
    <div class="list-group">
        <div routerLink="/edit/{{booking.id}}" class="list-group-item" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <div routerLink="/edit{{booking.id}}" class="mb-1 h5 text-decoration-none">{{booking.name}}</div>
            <button (click)="deleteBooking(booking)" class="btn btn-sm btn-danger">delete</button>
          </div>
          <p class="mb-1">{{booking.startDate | date}} - {{booking.endDate | date}}</p>
          <small>Room: {{booking.roomNumber}}</small>
        </div>
      </div>
}